@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-300;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-red-500;
  }
  /* .generator__nanel {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-2xl bg-teal-700 bg-opacity-30 backdrop-blur-sm text-white border;
  } */
}
input[type="range"] {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background: linear-gradient(90deg, red,orange, green);
  height: 6px;
  border-radius: 6px;
  outline: none;
  margin: 10px 0;
}

input[type="range"]:hover {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff6a;
  border-radius: 50%;
  border: 2px solid #ffffff;
  /* margin-top: -5px; */
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff6a;
  border-radius: 50%;
  border: 2px solid #ffffff;
  /* margin-top: -5px; */
}
.gradient-text {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.gradient-text:nth-child(1){
  animation-delay: calc(1s /2);
}
.gradient-text:nth-child(2){
  animation-delay: calc(2s /2) ;
}
.gradient-text:nth-child(3){
  animation-delay: calc(3s /2);
}
.gradient-text:nth-child(4){
  animation-delay: calc(4s /2);
}
.gradient-text:nth-child(5){
  animation-delay: calc(5s /2);
}
.gradient-text:nth-child(6){
  animation-delay: calc(6s /2);
}
.gradient-text:nth-child(7){
  animation-delay: calc(7s /2);
}
.gradient-text:nth-child(8){
  animation-delay: calc(8s /2);
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn {
  position: relative;
  width: 100%;
  height: 50px;
}
.btn p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  /* color: #fff; */
  z-index: 1;
  font-weight: 500;
  letter-spacing: 1;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(10px);
}
.btn:hover p {
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px black;
}
.btn p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.15), transparent);
  transform: skewx(45deg) translatex(0);
  transition: 0.5s;
}
.btn:hover p::before {
  transform: skewx(45deg) translatex(200%);
}
.btn:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 30px;
  height: 10%;
  transition: translatex(-50%);
  bottom: 0px;
  transition: 0.5s;
  /* background: red; */
  transition-delay: 0;
  transform: translateX(-50%);
  border-radius: 5px;
}
.btn:hover::before {
  left: 50%;
  bottom: 0;
  height: 30%;
  width: 20%;
  transition-delay: 0.1s;
  border-radius: 10px;
}
/* .btn:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 30px;
  height: 10px;
  transition: translatex(-50%);
  top: -5px;
  transition: 0.5s;
  background: red;
  transition-delay: 0;
  transform: translateX(-50%);
  border-radius: 5px;
} */
/* .btn:hover:after {
  left: 50%;
  top: 0;
  height: 50px;
  width: 30px;
  transition-delay: 0.1s;
} */
.btn::before
 {
  background: #15ecff;
  box-shadow: 0 0 10px #00eaff, 0 0 10px #00eaff, 0 0 10px #00eaff,
    0 0 10px #00eaff;
}
